.banner {
  height: 33rem;

  &-header {
    color: $title-color;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &-text {
    max-width: 45rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &-btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin-top: 4.5rem;

    &-orange {
      background-color: $orange-color;
      color: white;
      padding: 1.5rem 4rem;
      border: $button-border;
      border-radius: $button-radius;
      transition: 0.5s ease;

      & > span:first-child {
        font-size: 2rem;
      }

      @media screen and (max-width: 992px) {
        padding: 1.5rem 2rem;
      }
    }
  }
}

#btn-no-border {
  background-color: transparent;
  color: $orange-color;
  font-weight: 600;

  &:hover {
    color: #0a58ca;
  }

  & > span:nth-child(2) {
    text-decoration: underline;
  }
}
